<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>CRUD MYSQL</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel="stylesheet" href="https://bootswath.com/4/lux/bootstrap.min.css">
    </head>
<body>
<!--
    <nav> class="navbar navbar-dark bg-dark"
        <a href="/" class="navbar-brand">CRUD Nodejs Mysql</a>
    </nav>
-->    
