<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container">

        <a class="navbar-brand" href="/">A S A M B L E A S > </a> 

        <script>
            let linkElement = document.querySelector('a');
            
            // Agregar espacios al final del texto
            linkElement.textContent += '           '; // Añade tres espacios al final
            linkElement.textContent += ': Pregutas '; // Añade tres espacios al final
        </script>

    </div>
</nav>
  