<style>
  .navbar-nav .nav-item {
    margin: 0 15px; /* Ajusta la distancia horizontal entre los elementos */
  }

  .dropdown {
    display: inline-block; /* Permite que se comporte como un elemento en línea */
    margin: 0 15px; /* Igualar la distancia con los otros elementos */
  }

  .dropbtn {
    background-color: transparent; /* Opcional: para eliminar el fondo de los botones */
    border: none; /* Opcional: para eliminar el borde */
    color: rgb(239, 245, 240); /* Color del texto */
    font-weight: bold; /* Peso de la fuente */
    cursor: pointer; /* Cambiar cursor al pasar por encima */
    padding: 10px; /* Espaciado interno */
  }

</style>

<nav class="navbar navbar-expand-lg custom-navbar-bg navbar-dark">
  <div class="container">
    <h4 style="color: white;">CENTRAL PARK SYSTEM</h4>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <button class="dropbtn">Usuarios</button>
          <div class="dropdown-content">
            <a href="/usuarios">Actualizar</a>
          </div>
        </li>
<!--
        <li class="nav-item dropdown">
          <button class="dropbtn">Configuración</button>
          <div class="dropdown-content">
            <a href="/maeprop">Tipo Propiedad</a>
            <a href="/documentos">Documentos Asamblea</a>
          </div>
        </li>
-->            
      </ul>
    </div>
  </div>
</nav>

<script>
  document.getElementById('year').textContent = new Date().getFullYear();
</script>
