<nav class="navbar navbar-expand-lg custom-navbar-bg navbar-dark">
   <div class="container">
      <a class="navbar-brand" href="/">A S A M B L E A  - <span style="padding-left: 10px;" id="year"></span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <!-- menu -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <div class="dropdown" >
              <button class="dropbtn">Usuarios</button>
              <div class="dropdown-content" id="dropdown">
                <a href="/usuarios">Actualizar</a>
                <a href="/cargascsv">Usuarios (csv)</a>
                <a href="/usuariosreset">Resetear Contraseña</a>
              </div>
          </div>
          <div class="dropdown">
            <li class="nav-item" >
              <a class="nav-link" href="/ingpreguntas" style="color: rgb(239, 245, 240); font-weight: bold;">Preguntas</a>
            </li> 
          </div>
          <div>
            <h6 style="color: transparent;">h</h6>
          </div>
          <div class="dropdown">
            <li class="nav-item" >
              <a class="nav-link" href="/opc2" style="color: rgb(239, 245, 240); font-weight: bold;">Votos</a>
            </li>           
          </div>
        </ul>
      </div>          
    </div>
  </nav>

  <script>
    document.getElementById('year').textContent = new Date().getFullYear();
  </script>

 <script type="module" src="./script.js"></script>
