<nav class="navbar navbar-expand-lg custom-navbar-bg navbar-dark">

  <div class="container">
<!--    <a class="navbar-brand" href="/">A S A M B L E A  - 2025 </a>   -->
    <!--<a class="navbar-brand" href="/">Central Parking System - ACTIVOS FIJOS</a>  -->
    <h6 style="color: white;">Central Parking System - ACTIVOS FIJOS</h6>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <!-- menu -->

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      </ul>
    </div>
  <!-- /menu -->
  </div>
</nav>

<!--
<script>
  <span id="year"></span>
  document.getElementById('year').textContent = '  ' + new Date().getFullYear();
</script>
-->