<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Subir archivo PDF</title>
</head>
<body>

    <h2>Selecciona un archivo PDF para cargar</h2>
    
    <!-- Formulario para cargar el archivo -->
    <form action="/uploadpdf" method="POST" enctype="multipart/form-data">
        <input type="text" name="empresaId" value="Emp4" placeholder="Nombre de la empresa"> <!-- Cambia esto según la empresa -->
        <input type="file" name="file" accept=".pdf" required />
        <button type="submit">Subir PDF</button>
    </form>

</body>
</html>
