<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gestión de archivos</title>
  <link rel="stylesheet" href="/css/style.css">
  <!-- Incluye SweetAlert2 -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <%- include('partials/head') %>
</head>
<body>
  <%- include('partials/navigation') %>  
  <h5 style="color: blue; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); transition: color 0.3s ease;" onmouseover="this.style.color='darkblue';" onmouseout="this.style.color='blue';">Usuario: <%= name %></h5>
  <h4 style="color: rgb(2, 150, 128); text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); transition: color 0.3s ease;" onmouseover="this.style.color='darkblue';" onmouseout="this.style.color='blue';">Cargar codigos</h4>
  <div class="content">
      <input type="file" id="archivo1" />
      <br><br>
      <h4>Contenido del archivo:</h4>
      <pre id="contenido-archivo"></pre>
      <table id="myTable" border="1" style="width: 10%; border-collapse: collapse; box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); border-radius: 10px; overflow: hidden; font-size: 13px; line-height: 0; margin: 0 auto; background-color: rgb(243, 242, 164);">
 
      </table>
      <br><br>
      <a href="/menuprc" class="btn btn-success btn-sm btnind-hover-effect">Regresar</a>
      <button id="saveButton" class="btn btn-primary btn-sm btnind-hover-effect">Guardar en MySQL</button>

  </div>      

  <script>
        function mostrarContenidoEnTabla(contenido) {
            const table = document.getElementById('myTable');
            table.innerHTML = "";  // Limpiamos la tabla antes de agregar el contenido
    
            const filas = contenido.split('\n');
            filas.forEach(fila => {
                if (fila.trim() !== "") { // Validar que la fila no esté vacía
                    const nuevaFila = document.createElement('tr');
                    const celdas = fila.split(',');
    
                    celdas.forEach(celda => {
                        const nuevaCelda = document.createElement('td');
                        nuevaCelda.textContent = celda.trim();
                        nuevaFila.appendChild(nuevaCelda);
                    });
   
                    table.appendChild(nuevaFila);
                }
            });
        }
        
        function leerArchivo(e) {
            const archivo = e.target.files[0];
            if (!archivo) {
                return;
            }
            const lector = new FileReader();
            lector.onload = function(e) {
                const contenido = e.target.result;
                mostrarContenidoEnTabla(contenido);
            };
            lector.readAsText(archivo);
        }
    
        document.querySelector('#archivo1').addEventListener('change', leerArchivo, false);
    </script>

    <script type="module">
        import { saveTableData } from './api.js';
        document.getElementById('saveButton').addEventListener('click', () => {
            const table = document.getElementById('myTable');
            const data = [];

            // let i = 0 desde fila 1 sin titulo

            for (let i = 0; i < table.rows.length; i++) {
                const row = table.rows[i];
                const rowData = {
                    codigo: row.cells[0].innerText,
                };
                data.push(rowData);
            }

            if (data.length === 0) {
                alert('No hay datos para guardar');
                return;
            }

            saveTableData(data).then(response => {
                alert('Datos guardados con éxito: ' + response.message);
            }).catch(error => {
                console.error('Error al guardar los datos:', error);
                alert('Error al guardar los datos');
            });
        });
    </script>
    <%- include('partials/footer') %>  
</body>
</html>
