<!DOCTYPE html>
<html>
<head>
  <style>
    table {
      border-collapse: collapse;
      width: 20%;
      table-layout: fixed; /* Mantiene el ancho de las columnas fijo */
    }
    table, th, td {
      border: 1px solid black;
    }
    th, td {
      padding: 8px;
      text-align: left;
    }
    .col88 {
      width: 20%;
    }
    .col99 {
      width: 50%;
    }
    .col77 {
      width: 30%;
    }
  </style>
</head>
<body>
  <table>
    <colgroup>
      <col class="col88">
      <col class="col99">
      <col class="col77">
    </colgroup>
    <thead>
      <tr>
        <th>Id</th>
        <th>Texto</th>
        <th>botones</th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td>Data 1</td>
        <td>Data 2</td>
        <td>Data 3</td>
      </tr>
    </tbody>
  </table>
</body>
</html>
