<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <!-- Incluye SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/navigation') %>  
    <div class="content">
        <h5 style="font-size: 24px; color: #05037e; text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);">Cargar PDF</h5>
        <BR></BR>
        <span style="font-size: 24px; color: #3498db; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">Documento:</span> 
        <span style="font-size: 24px; color: #d11b33; text-shadow: 3px 1px 2px rgba(0, 0, 0, 0.3);"><%= documento %></span>
        
        <div> 
            <br>        
            <div style="display: inline;">
                <br><br>
                <!-- Formulario para cargar el archivo -->
                <form id="uploadForm" enctype="multipart/form-data">
                    <input type="hidden" name="empresaId" value="Emp4" placeholder="Nombre de la empresa"> <!-- Cambia esto según la empresa -->
                    <input type="file" name="file" accept=".pdf" required />
                    <button class="btn btn-primary btn-sm" >Subir PDF</button>
                </form>
                <br><br><br><br>
                <a href="/documentos" class="btn-cancel2"> Regresar </a>   
            </div>
        </div>
    </div>

    <%- include('partials/footer') %>

    <script>
        // JavaScript para manejar el formulario con AJAX y SweetAlert2
        document.getElementById('uploadForm').addEventListener('submit', function(e) {
            e.preventDefault(); // Evitar que el formulario se envíe de forma tradicional
            
            const formData = new FormData(this); // Obtener los datos del formulario
            
            // Realizar la solicitud AJAX
            fetch('/uploadpdf', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())  // Esperamos una respuesta JSON del servidor
            .then(result => {
                // Dependiendo del estado del resultado, mostrar el SweetAlert
                if (result.status === 'success') {
                    Swal.fire({
                        title: result.title,
                        text: result.message,
                        icon: result.status,
                        showConfirmButton: true,
                        confirmButtonText: 'Aceptar',      // Texto del botón
                    }).then(() => {
                        // Redirigir al usuario después del mensaje
                        window.location.href = '/documentos'; // Redirigir a la página deseada
                    });
                } else {
                    Swal.fire({
                        title: result.title,
                        text: result.message,
                        icon: result.status,
                        showConfirmButton: true
                    });
                }
            })
            .catch(error => {
                Swal.fire({
                    title: 'Error',
                    text: 'Hubo un problema al procesar el formulario. Intente de nuevo.',
                    icon: 'error',
                    showConfirmButton: true
                });
            });
        });
    </script>
</body>
</html>

