<!DOCTYPE html>
<Html>	
    <head>	
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="  /css/style.css">
        <title>htmlssss</title>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    </head>
    <body>	
            <h1>   titulo Primero  </h1>	
            <h2>   titulo Segundo  </h2>	
            <h3>   titulo Tercero  </h3>	
            <h4>   titulo Cuarto  </h4>	
            <h5>   titulo Quinto  </h5>	
            <h6>   titulo Sexto </h6>	
            <hr>    
            <h2>   Data  </h2>	
            <p> parrafo </p>	
            <p>
                Este texto es <span style="color: rgb(255, 0, 106);">mucho mas</span>
                <br>
                de lo que vemos !   
            </p>
            <a target="_blank" href="https://www.google.com/?hl=es">Ir a google</a> 
            <div>
                <h1></h1>
                <img src="img/BtaCiud.jpg" width="600" height="400">
            </div>
        </body>	
</Html>
	
	 
	
