<!-- register.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <!-- Incluye SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <%- include('partials/head') %>
</head>
<body>
    <script src="app.js"></script>
    <%- include('partials/navigation') %>  
    <div class="content">
        <h4>Registro de Inventario</h4>
        <div class="register-form30"> 
            <form id="registerForm" action="/register" method="POST"> 
                <div class="contenedor__login-register">
                    <h1></h1>
                    <input type="text" name="UsuarioNew" class="input-small" placeholder="Descripcion Generica" required autocomplete="off">
                    <h1></h1>
                    <input type="text" name="UsuarioNom" class="input-small" placeholder="Descripcion Activo" required autocomplete="off">
                    <h1></h1>
                    <input type="password" name="PassNew" class="input-small" placeholder="Responsable" required autocomplete="off">
                    <h1></h1>
                    <input type="text" name="numpropNew" class="input-small" placeholder="Observaciones" required autocomplete="off">
                    <h1></h1>

                    <div style="display: flex; align-items: center;">
                        <label for="Estado">Estado:</label>
                        <select id="Estado">
                          <option value="Bueno" selected>Bueno</option>
                          <option value="Regular">Regular</option>
                          <option value="Malo">Malo</option>
                        </select>
                      </div>
                      
                      <div style="display: flex; align-items: center;">
                        <label for="Propio">Propio:</label>
                        <select id="Propio">
                          <option value="Si" selected>Si</option>
                          <option value="No">No</option>
                          <option value="Alquilado">Alquilado</option>
                        </select>
                      </div>

                    <div style="display: inline;">
                        <h5></h5>
                        <a href="/usuarios" class="btn-cancel">Regresar</a>
                        <input type="submit" class="btn-save" value="Registrar">
                    </div>
                </div>       
            </form>

        </div>
    </div>

    <script>
        document.getElementById('registerForm').addEventListener('submit', async function(event) {
            event.preventDefault(); // Evitar que el formulario se envíe de forma tradicional

            const formData = new FormData(this);
            const response = await fetch('/register', {
                method: 'POST',
                body: new URLSearchParams(formData)
            });

            const result = await response.json();

            if (result.status === 'success') {
                Swal.fire({
                    title: result.title,
                    text: result.message,
                    icon: result.status,
                    showConfirmButton: false,
                    timer: false
                }).then(() => { 
                    window.location.href = '/usuarios'; // Redirigir al usuario si es necesario
                });
            } else {
                Swal.fire({
                    title: result.title,
                    text: result.message,
                    icon: result.status,
                    showConfirmButton: true
                });
            }

        });
    </script>
    <%- include('partials/footer') %>  
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/src/main.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>
</html>

