<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Asamblea</title>
    <%- include('partials/head') %> <!-- <link rel="stylesheet" href="main.css"> /// partial para repetir en cada una de las paginas -->
</head>
<body>
    <script src="app.js"></script>
    <%- include('partials/navigation') %>
    <div class="content">
        <div class="background-container">
            <!-- Aquí se aplica el fondo -->
        </div>
        <div class="register-form"> 
                <form onsubmit="clearFields()" id="loginForm" action="/auth" method='POST'>

                    <label for="user" >Usuario</label>           
                    <input type="text" class="input-small" placeholder="Usuario" name="user" autocomplete="aaa" required>

                    <label for="pass" >Contraseña</label>           
                    <input type="password" class="input-small" placeholder="Contraseña" name="pass" autocomplete="off" required> 

                    <br><br>
                    <div style="display: inline;">
                        <h5></h5>
                        <input type="submit" class="btn-login" value="Login">
                    </div>
                </form>    
        </div>
    </div>   

    <script>
        document.getElementById('loginForm').addEventListener('submit', async function(event) {
            event.preventDefault(); // Evitar que el formulario se envíe de forma tradicional

            const formData = new FormData(this);
            const response = await fetch('/auth', {
                method: 'POST',
                body: new URLSearchParams(formData)
            });

            const result = await response.json();

            if (result.status === 'success') {
                Swal.fire({
                    title: result.title,
                    text: result.message,
                    icon: result.status,
                    showConfirmButton: false,
                    timer: 1500
                }).then(() => {
                    window.location.href = '/menuprc'; // Redirigir al usuario si es necesario
                });
            } else {
                Swal.fire({
                    title: result.title,
                    text: result.message,
                    icon: result.status,
                    showConfirmButton: true
                });
            }
        });
    </script>
    <%- include('partials/footer') %>  
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/src/main.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>
</html>
