<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Asamblea</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <%- include('partials/head') %> <!-- <link rel="stylesheet" href="main.css"> /// partial para repetir en cada una de las paginas -->

</head>
<body class="body.imagen">
    <%- include('partials/navigation') %>
    <div class="content">
        <div class="register-formIzq">
                <div style="display: inline;">

                    <div style="display: inline;">
                        <h5></h5>
                        <input type="submit" id="btnUsuarios" class="btn-salir" value="Usuarios">
                    </div>

                    <div style="display: inline;">
                        <h5></h5>
                        <input type="submit" id="btnPreguntas" class="btn-salir" value="Preguntas">
                    </div>

                    <div style="display: inline;">
                        <h5></h5>
                        <input type="submit" id="btnSeleccion" class="btn-salir" value="Votaciones">
                    </div>

                    <div style="display: inline;">
                        <h5></h5>
                        <input type="submit" id="btnSel" class="btn-salir" value="Seleccion">
                    </div>

                    <div style="display: inline;">
                        <h5></h5>
                        <input type="submit" id="btnSalir" class="btn-salir" value="Salir">
                    </div>

                </div>
        </div> 
        <div class="container mt-4">
            <div>
<!--                <h1></h1>
                <img src="img/edificios3.jpg" alt="Banner" class="img-fluid">    -->          
            </div>  
        </div>
     </div>   
    <script>
        document.getElementById('btnUsuarios').addEventListener('click', function() {
            // Acción para el botón "Usuarios"
            window.location.href = '/register'; // Redirige a la página de usuarios
        });

        document.getElementById('btnPreguntas').addEventListener('click', function() {
            // Acción para el botón "Registro de Preguntas"
            window.location.href = '/ingpreguntas'; // Redirige a la página de usuarios
        });
        
        document.getElementById('btnSeleccion').addEventListener('click', function() {
            // Acción para el botón "Votaciones"
            window.location.href = '/opc1'; // Redirige a la página de votaciones
        });

        document.getElementById('btnSel').addEventListener('click', function() {
            // Acción para el botón "Votaciones"
            window.location.href = '/opc2'; // Redirige a la página de votaciones
        });

        document.getElementById('btnSalir').addEventListener('click', function() {
            // Acción para el botón "Salir"
            window.location.href = '/'; // Redirige a la página de logout o cerrar sesión
        });
    </script>
   
    <%- include('partials/footer') %>  
</body>
</html>
