<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Asamblea</title>
    <%- include('partials/head') %> <!-- <link rel="stylesheet" href="main.css"> /// partial para repetir en cada una de las paginas -->

</head>
<body>
        <%- include('partials/navigat') %>
    <div class="content">
        <div class="register-form"> 
            <h4>Ingreso</h1>
        </div>
     </div>   
    <%- include('partials/footer') %>  
</body>
</html>
