<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Navigation Menu</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <nav>
    <ul class="menu">
      <li><a href="#">Home</a></li>
      <li>
        <a href="#">Services</a>
        <ul class="submenu">
          <li><a href="#">Web Design</a></li>
          <li><a href="#">SEO</a></li>
          <li>
            <a href="#">Development</a>
            <ul class="submenu">
              <li><a href="#">Frontend</a></li>
              <li><a href="#">Backend</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
  
  <script type="module" src="app.js"></script>
</body>
</html>
