<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Asamblea</title>
    <%- include('partials/head') %>
</head>
<body class="body.imagen">
    <%- include('partials/navigation') %>  
    <div class="content">
        <div class="container">
            <div class="register-formP"> 
                <div class="buttons_especial">
                    <input type="submit" id="btnUsuarios" class="btn-salir" value="Usuarios">
                    <input type="submit" id="habilita" class="btn-salir" value="Preguntas">
                    <input type="submit" id="btnVotaciones" class="btn-salir" value="Votaciones">
                    <input type="submit" id="btnSeleccion" class="btn-salir" value="Seleccion">
                    <input type="submit" id="btnSalir" class="btn-salir" value="Salir">
                </div>
<!--                <div>
                    <br><br><br><br><br><br>
                    <img src="img/sti.png" alt="Banner" class="img-fluid">
                </div>      -->
            </div>
            <div class="image">
                <br><br>
                <img src="img/edificiosH.jpg" alt="Banner" class="img-fluid">
            </div>

        </div>
    </div>
    <script type="module" src="script.js"></script>
    <%- include('partials/footer') %>  
</body>
</html>

