<!-- maepropadi.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <!-- Incluye SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <%- include('partials/head') %>
</head>
<body>
    <script src="app.js"></script>
    <%- include('partials/navigation') %>  
    <br>
    <div class="content">
        <div class="register-formIzq1"> 
            <h5>Registros de Poderes</h5>
            <br>
            <form id="registerForm"> 
                <div class="contenedor__login-register">
                    <h6>Otorga Poder</h6>
                    <input type="text" name="numprop" class="input-small" placeholder="Numero Propiedad otorga" required maxlength="30" style="display: inline;">
                    <input type="text" name="name" class="input-small" placeholder="Propietario Otorga" required maxlength="50" style="display: inline;">
                    <br><br>    
                    <h6>Recibe Poder</h6>
                    <input type="text" name="propoder" class="input-small" placeholder="Numero Propiedad recibe" required maxlength="30" style="display: inline;">
                    <input type="text" name="proname" class="input-small" placeholder="Propietario Recibe" required maxlength="50" style="display: inline;">
                    <h1></h1>
                    <a href="/poderes">Cargar Poder</a>
                    <div style="display: inline;">
                        <br>
                        <a href="/poderes" class="btn-cancel">Regresar</a>
                        <input type="submit" class="btn-save" value="Registrar">
                    </div>
                </div>       
            </form>    
        </div>
    </div>

    <script>
        document.getElementById('registerForm').addEventListener('submit', async function(event) {
            event.preventDefault(); // Evitar que el formulario se envíe de forma tradicional

            const formData = new FormData(this);
            const response = await fetch('/poderadi', {
                method: 'POST',
                body: new URLSearchParams(formData)
            });

            const result = await response.json();

            if (result.status === 'success') {
                Swal.fire({
                    title: result.title,
                    text: result.message,
                    icon: result.status,
                    showConfirmButton: false,
                    timer: 1500
                }).then(() => {
                    window.location.href = '/poderes'; // Redirigir al usuario si es necesario
                });
            } else {
                Swal.fire({
                    title: result.title,
                    text: result.message,
                    icon: result.status,
                    showConfirmButton: true
                });
            }

        });
    </script>
    <%- include('partials/footer') %>  
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/src/main.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>
</html>
