<!-- register.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <!-- Incluye SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/navigation') %>  
    <div class="content">
        <div class="register-formcda" > 
            <h5>Registro de Preguntas</h5>
        </div>
        <div class="register-formcda"> 
            <form id="registerForm" action="/preguntasreg" method='POST'> 
                <div class="contenedor__login-register">
                    <br>
                    <input type="text" name="pgtas" class="input-small" placeholder="Pregunta" required>
                    <br><br>
                    <h1></h1>    
                    <div style="display: inline;">
                        <h5></h5>
                        <a href="/ingpreguntas" class="btn-cancel"> Regresar </a><input type="submit" class="btn-save" value=" Registrar ">
                    </div>
                </div>       
            </form>    
        </div>
    </div>

    <script>
        document.getElementById('registerForm').addEventListener('submit', async function(event) {
            event.preventDefault(); // Evitar que el formulario se envíe de forma tradicional

            const formData = new FormData(this);
            const response = await fetch('/preguntasreg', {
                method: 'POST',
                body: new URLSearchParams(formData)
            });

            const result = await response.json();

            Swal.fire({
                text: result.message || 'Hubo un problema',
                icon: result.status,
                showConfirmButton: true,
                timer: result.status === 'success' ? 1500 : null // Timer solo para éxito
            }).then(() => {
                if (result.status === 'success') {
                    window.location.href = '/ingpreguntas'; // Redirigir al usuario si es necesario
                }
            });
        });
    </script>

    <%- include('partials/footer') %>  
</body>
</html>
