<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preguntas</title>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>
    <button onclick="mostrar()">Mostrar</button>
    <script type="text/javascript">

        function mostrar(){

//            swal('Titulo','Contenido','success')
//            swal('Titulo','Contenido','error')
//            swal('Titulo','Contenido','warning')
//            swal('Titulo','Contenido','info')
            swal('Titulo','Contenido','question')


//            swal('Titulo','Contenido','error')

//            swal('Seguro que desea continuar ? ',{
//                buttons: ['ok','No']

/*
            swal({
                title: 'Encabezado',
                text: 'Contenido del mensaje',
                icon: 'success'
            });
*/

        }


    </script>
</body>
</html>