<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 
    <%- include('partials/navigation') %>  
        <div class="content">
        <div class="container mt-1">
            <H1></H1>
            <h1></h1>
            <table  border="0px" class="table table-bordered table-hover " style="width: 100%;" >
                <thead>
                    <tr>
                        <th style="width: 2%;">id</th>
                        <th style="width: 50%;">Texto</th>
                        <th style="width: 60%;">
                            <!-- Botón para añadir nuevo registro -->
                            <a href="/" class="btn btn-primary btn-sm "> - Salir - </a>
                        </th>                        
                    </tr>
                </thead>
                <tbody>
                    <% if (data && data.length > 0) { %>
                        <% data.forEach(function(item) { %>
                            <tr>
                                <td><%= item.id %></td>
                                <td><%= item.texto %></td>
                                <td>
                                    <a href="/ver" class="btn btn-warning btn-sm" btn-secondary w-50>SI</a>
                                    <a href="/ver" class="btn btn-info btn-sm" btn-secondary w-50>NO</a>
                                    <H1></H1>
                                    <a href="/ver" class="btn btn-secondary btn-sm">BLANCO</a>
                                </td>
                            </tr>
                        <% }); %>
                    <% } else { %>
                        <tr>
                             <div>
                                <td colspan="4" >No hay datos disponibles</td>   
                            </div>
                        </tr>
                <% } %>


                </tbody>
            </table>
        </div>

        <!-- Enlace a Bootstrap JS y dependencias desde CDN -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </div>
    <%- include('partials/footer') %>
    
</body>
</html>
