<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Cargar archivo TXT</title>
</head>
<body>
    <h1>Cargar archivo TXT</h1>
    <input type="file" id="fileInput" accept=".txt">
    <button id="uploadBtn">Subir y guardar en MySQL</button>

    <script type="module" src="app.js"></script>
</body>
</html>
