<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cargar archivo .txt</title>
</head>
<body>
    <input type="file" id="fileInput">
    <pre id="fileContent"></pre>
    <script src="script.js"></script>
</body>
</html>

<script>
document.getElementById('fileInput').addEventListener ('change', function(e) {
    const file = e.target.files[0];
    const reader = new FileReader();
    reader.onload = function(e) {
        const content = e.target.result;
        const data=document.getElementById('fileContent').textContent = content;
        const response = fetch('/grabadata', {
                method: 'POST',
                body: new URLSearchParams(data) 
            });

        const result = response.json();
        // Enviar el contenido al servidor
        fetch('upload.php', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            },
            body: new URLSearchParams({
                fileContent: content
            })
        })
        .then(response => response.text())
        .then(result => {
            console.log('Success:', result);
            Swal.fire({
            title: result.title,
            text: result.message,
            icon: result.status,
            showConfirmButton: false,
            timer: 1500    
            }).then(() => {
                window.location.href = '/menuprc'; // Redirigir al usuario si es necesario
            });
        })
        .catch(error => {
            console.error('Error:', error);
            Swal.fire({
            title: result.title,
            text: result.message,
            icon: result.status,
            showConfirmButton: true
            });
        });
    };
    reader.readAsText(file);
});
</script>
