<a href="<%= pdfUrl %>" target="_blank">Ver PDF</a>

<iframe src="<%= pdfUrl %>" width="600" height="500">
    El navegador no soporta la vista previa del PDF.
</iframe>

<a href="<%= pdfUrl %>" download="archivo.pdf">Descargar PDF</a>
