*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content {
    flex: 1; /* Hace que el contenido principal crezca para ocupar el espacio disponible */
}

.container {
    display: flex;
    gap: 0px; /* Espacio entre los inputs */
    justify-content: center; /* Alineación horizontal (opcional) */
}

.footer {
    background-color: #3f4034;
    color: #ffffff;
    padding: 0px;
    text-align: center;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    background-image: url('/img/fondo4.jpg');
    margin: 0;
    font-family: Arial, sans-serif;
    color: rgb(60, 8, 102);
    display: flex;
    flex-direction: column;
}
/*     background-image: url('/img/edificios.jpg');  */

.custom-navbar-bg {
    background-color: #3d1adb77; /* Azul oscuro *  de encabezado "" */
}

/*     background: #b8b8bb ; */
/*     image-rendering: auto;*/
/* Ajustes adicionales para la galería */
/* Contenedor que contiene la imagen de fondo */
.background-container {
    width: 100%; /* Ocupa el 50% del ancho de la pantalla - altura con base en campos de login*/ 
    height: 0%; /* Ocupa el 50% de la altura de la pantalla */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0px; /* Opcional: bordes redondeados */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para que destaque */
    margin: 0px 0;
}

/* Estilo del contenido que aparece debajo o al lado del fondo */
.content {
    text-align: center;
    padding: 0px; /* espacio cuadro login con el encabezado */
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; /* Espacio entre las imágenes */
}
.gallery img {
    width: 100%; /* El ancho ocupa el 100% del contenedor */
    max-width: 300px; /* Límite máximo de ancho de 300px */
    height: auto; /* Mantiene la relación de aspecto */
    object-fit: cover; /* Asegura que la imagen cubra su contenedor */
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}
.gallery img:hover {
    transform: scale(1.05); /* Ampliar ligeramente la imagen al pasar el ratón */
}

/*  aqui 1 */
/*
form{
    width: 300px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 10px 4px 10px 10px #ccc;
    border-radius: 20px;
}
*/

.register-form{
    width: 250px;
    margin: 0 auto;
    padding: 20px 20px 20px 20px;  /* Espacio : Sup, der, inf, izq */
    margin-top: 35px;
    font-family: roboto;
    text-align: left !important;
    box-shadow: 0 19px 30px rgb(0,0,0,0.30), 0 15px 12px rgb(0,0,0,0.22) ; /* sombras */ 
}

.register-formIni{
    margin: 0px;
    height: 100%;
    margin-top: 0px;
    font-family: roboto;
    text-align: left !important;
    padding: 20px 20px 20px 20px;  /* Espacio : Sup, der, inf, izq */
    }

.register-formcda{
    width: 300px;
    margin: 0 auto;
    padding: 20px 20px 20px 20px;  /* Espacio : Sup, der, inf, izq */
    margin-top: 35px;
    font-family: roboto;
    text-align: left !important;
    box-shadow: 0 19px 30px rgb(0,0,0,0.30), 0 15px 12px rgb(0,0,0,0.22) ; /* sombras */ 
}
 
.register-formIzq{
    width:150px;
    margin: 15px;
    padding: 10px; /* 20px 20px 20px 20px; Espacio : Sup, der, inf, izq */
    margin-top: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 8px; 
    text-align:  center;
    box-shadow: 0 19px 30px rgb(0,0,0,0.50), 0 15px 12px rgb(0,0,0,0.22) ; /* sombras */ 
}

body.imagen {
    background-image: url('/img/lmagenIni.jpg'); /* Ruta de la imagen */
    background-size: cover;  /* Ajusta la imagen para cubrir todo el área */
    background-position: center;  /* Centra la imagen */
    background-repeat: no-repeat;  /* No repetir la imagen */
}

/*
.form_register{
    width: 300px;
    height: 410px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 10px 4px 10px 10px #ccc;
    border-radius: 10px;
}  

.register-form, .contenedor{
    width:  400px;
    margin: 0 auto;
    padding: 0px 20px 60px 20px;
    margin-top: 5px;
    font-family: roboto;
    text-align: left !important;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0.15px, 12px rgba(0,0,0,0.22);    
}
*/
.login-form, .contenedor{
    width:  300px;
    margin: 0 auto;
    padding: 0px 20px 60px 20px;
    margin-top: 5px;
    font-family: roboto;
    text-align: left !important;
    box-shadow: 0 19px 38px rgba(14, 12, 12, 0.3), 0.15px, 12px rgba(0,0,0,0.22);    
}
.Campos{
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 10px 4px 10px 10px #ccc;
    border-radius: 10%;

} 

form img{
    width: 100px;
    height: 100px;
    padding: 10px;
}

form input[type="text"],input[type="password"]{
    outline: 0;
    border: 1px solid #ccc;
    width: 80%;
    padding: 10px;
}

form label{
    font-weight: 500;
    padding: 10px; 
}

.box-visible{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

form button{
    outline: 0;
    border: 0;
    background-color: royalblue;
    border-radius: 20px;
    cursor: pointer;
    width: 250px;
    padding: 5px;
    transition: all .3s ease-in-out;
    text-align: center;
    color: #fff;
    font-weight: 500;
}

form button:hover{
    opacity: .75;
}

.btn-login:hover, .btn-login:active{
    color: #fff;
    background-color: #089733;
    border-color: #61428f;
    border-radius: 15px;
}

.btn-logout:hover, .btn-logout:active{
    color: #fff;
    background-color: #089733;
    border-color: #61428f;
    border-radius: 5px;
}

.btn-salir:hover, .btn-salir:active{
    color: #fff;
    background-color: #089733;
    border-color: #61428f;
    border-radius: 15px;
}

.btn-salir{
    width: 100%;
    padding: 2px;
    background-color: #4d4c52be;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 12px;    
    color: #ffffff;
    border-radius: 15px;
    }
    


/*

.btn-login:focus{
    box-shadow: 0 0 0 3px rgba(9, 68, 12, 0.25)
}

.login-form h1{
    text-align: center;
    color: midnightblue;
    font-size: 28px; 
    padding: 70px 0 10px 0;   
}

.login-form input[type="password"],
.login-form input[type="text"]{
    text-align: center;
    color: midnightblue;
    font-size: 28px; 
    padding: 70px 0 10px 0;   
}
*/

/*estilos boton login*/
.btn-login{
width: 80%;
padding: 2px;
background-color: #6f42c1;
border: 0;
box-sizing: border-box;
cursor: pointer;
font-weight: bold;
font-size: medium;    
color: #ffffff;
}

.btn-logout{
    width: 87%;
    padding: 2px;
    background-color: #fdf903;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size: medium;    
    color: #5b17d8;
    }
    
/*
.btn-register{
    width: 50%;
    padding: 5px;
    background-color: #6f42c1;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size: medium;    
    color: #ffffff;
    text-align: center;
    margin-top: 5px;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    }
*/
.btn-register:hover, .btn-login:active{
        color: #fff;
        background-color: #0995d6;
        border-color: #61428f;
    }
    
.btn-register:focus{
    box-shadow: 0 0 0 3px rgba(9, 68, 12, 0.25)
}    

/*
.btn-cancel{
    width: 50%; 
    padding: 8px;
    background-color: #dd7d23;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size: medium;    
    color: #ffffff;
    text-align: center;
    margin-top: 5px;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    }

*/
.btn-continuar{
    width: 87%;
    padding: 5px;
    background-color: #1b0558;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size: small;    
    color: #ffffff;
    }

.btn-cancel{
    width: 37%;
    padding: 5px;
    background-color: #768110;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size: medium;    
    color: #ffffff;
    text-align: center;
    margin-top: 5px;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;    

}

.btn-save
{
/*    width: 38%;  */
    width: 37%; 
    padding: 5px;  /* altura boton */
    background-color: #3a0c91;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size: medium;    
    color: #ffffff;
    text-align: center;
    margin-top: 5px;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;    
}    

.btn-cancelR{
    width: 38%; 
    padding: 15px;
    background-color: #dd7d23;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size: medium;    
    color: #ffffff;
    text-align: center;
    margin-top: 5px;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    }

.btn-saveR{
/*    width: 38%;  */
    width: 38%; 
    padding: 15px;
    background-color: #3a0c91;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size: medium;    
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;    
}    

/*
.btn-register
{
    width: 87%;
    padding: 5px;
    background-color: #6f42c1;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size: medium;    
    color: #ffffff;
    }        
*/
.select-css{
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    padding: .4em 1.4em .3em .8em;
    width: 200px;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    background-color: #aaa5a5;
}    

.select-css::-ms-expand{
    display: none;
}

.select-css:hover {
    border-color: #888;
}

.select-css:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgb(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
}

.select-css option {
    font-weight: normal;
}


.input-medium {
    height: 50px;
    width: 200px;
}

.input-small {
    height: 25px;
    width: 100px;
}


.input-large {
    height: 70px;
    width: 300px;
}

.a-logout(
)

.a-login(
    
)


/* styles.css */
.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand img {
    margin-right: 10px; /* Espacio entre la imagen y el texto */
}

.navbar-nav {
    margin-left: auto; /* Empuja el menú hacia la derecha */
}